Introduction to Python

In [1]:
print('Hello World')

Hello World

In [2]:
100*1000

100000

In [3]:
x=10
y=5

In [4]:
x*y

50

Types of data

In [5]:
type (10)

int

In [6]:
type (0.7)

float

To convert Int to float

In [7]:
float (8)

8.0

To convert float to Int

In [8]:
float (7)

7.0

String

In [9]:
'123'

'123'

In [10]:
'Artificial Intelligence'

'Artificial Intelligence'

In [11]:
type ('123')

str

In [12]:
x=' Machine '
y=' Learning'
z=' Techniques'

In [13]:
x+y+z

' Machine  Learning Techniques'

In [14]:
print (type (8))
print (type (8.5))
print (type ('Computer Science '))

<class 'int'>
<class 'float'>
<class 'str'>

In [15]:
type (x)

str

Boolean

In [16]:
7==7

True

In [17]:
100==100.0

True

In [18]:
100==0.100

False

Strings Operations

In [19]:
name='Adam'

In [20]:
name=='Adam'

True

In [21]:
name=='adam'

False

 ( Indexing ,Upper , Find , Replace Operations )

In [22]:
name [0]

'A'

In [23]:
name [1]

'd'

In [24]:
name[2]

'a'

In [25]:
name[0 :3]

'Ada'

In [26]:
len(name)

4

In [27]:
name[0 :4]

'Adam'

In [28]:
name[-1]

'm'

In [29]:
name[-3]

'd'

In [30]:
 name1= name.upper()

In [33]:
x =='smith'
x1 = x.upper ()

In [34]:
x1

' MACHINE '

In [35]:
name1= name.upper()

In [36]:
name1

'ADAM'

In [37]:
name

'Adam'

In [38]:
name= name.upper()

In [39]:
name

'ADAM'

In [40]:
name.find ('da')

-1

In [41]:
name.find ('am')

-1

In [43]:
name.find ('A')

0

In [44]:
name.find ('M')

3

In [45]:
S= 'Smith is an expert in programming'

In [46]:
len(S)

33

In [47]:
Y= S.replace ('Smith' , 'Adam' )

In [48]:
Y

'Adam is an expert in programming'

In [49]:
S

'Smith is an expert in programming'

In [50]:
name
Y
S

'Smith is an expert in programming'

In [52]:
print (name)
print (Y)
print (S)

ADAM
Adam is an expert in programming
Smith is an expert in programming

In [53]:
len(S)
type (S)

str

In [54]:
print (len(S))
print (type (S))
print (name . find ('A'))

33
<class 'str'>
0

In [55]:
print ('Name : Adam \n Age =35 ')

Name : Adam
 Age =35

In [62]:
W

'123'

In [74]:
type (W)

str